<div class="basic-container">

  <!-- Here are the charts options -->
  <div class="d-flex justify-content-sm-around">
    <mat-form-field>
      <mat-select placeholder="Year" [(ngModel)]="filteredYear" (selectionChange)="yearChanged()">
        <mat-option *ngFor="let year of distinctYears" [value]="year">
          {{year}}
        </mat-option>
      </mat-select>      
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Month" [(ngModel)]="filteredMonth" (selectionChange)="updateChart()">
        <mat-option>All</mat-option>
        <mat-option *ngFor="let month of distinctMonths" [value]="month">
          {{availableMonths[month]}}
        </mat-option>
      </mat-select>      
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Chart Type" [(ngModel)]="chartType">
        <mat-option *ngFor="let type of chartTypes" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox matTooltip="If checked, it will return the daily sum for the selected time period" [(ngModel)]="useDailySum" (change)="updateChart()">Daily Sum</mat-checkbox>
    <mat-checkbox matTooltip="If checked, it will plot the transaction count instead of the $ sum" [(ngModel)]="useSalesCount"(change)="updateChart()">Sales Count</mat-checkbox>
    <mat-checkbox [(ngModel)]="chartLegend">Chart Legend</mat-checkbox>
  </div>
  <!-- Here is the Chart! style="display: block"-->
  <div class="d-flex justify-content-center">
    <div class="col-8" *ngIf="chartLabels.length > 0">
      <canvas baseChart
                  [datasets]="chartData"
                  [labels]="chartLabels"
                  [options]="chartOptions"
                  [legend]="chartLegend"
                  [chartType]="chartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)">
        </canvas>
    </div>
  </div>
</div>