<div class="basic-container">
  <div class="row">
    <label class="col-sm-3">Load your dataset    </label>
    <!-- For now only doing CSVs...-->
    <input class="col-sm-9" type='file' (change)="fileChanged($event)" accept=".csv">  
    <!--<input type='file' (change)="fileChanged($event)" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, text/plain">  -->
  </div>

  <div class="alert alert-info my-3" *ngIf="!filePreview">
    If you don't have a dataset and want to understand or play with this tool, please <a href="assets/dummyDataset.csv">download</a> our test dataset and edit it to your convenience!
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="warning">
    {{warningText}}
  </div>

  <ng-container *ngIf="filePreview">
    <div class="alert alert-info" role="alert">
      Please select the corresponding headers to each column and if the dataset contains headers
    </div>
    <mat-checkbox [(ngModel)]="dataHasHeaders">
      My data has headers
    </mat-checkbox>
    <table [formGroup]="headerSelectionForm" class="table table-hover">
      <thead>
        <tr formArrayName="headerSelectArray">
          <th *ngFor="let col of filePreview[0]; let i=index">
            <mat-form-field >
              <mat-select placeholder="Column Data" matTooltip="Please select the content of this column" (selectionChange)="headerDefinitionChange($event,i)" [formControlName]="i">
                <mat-option [value]="''">None</mat-option>
                <mat-option *ngFor="let header of headerOptions" [value]='header'>{{header}}</mat-option>
              </mat-select>
            </mat-form-field>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of filePreview">
          <td *ngFor="let col of row; let i=index">
            {{col}}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <button mat-stroked-button color="primary" class="col-sm-12" (click)="pushDataset()">View Charts!</button>
    </div>
  </ng-container>

</div>