<div class="basic-container">
  <table *ngIf="currentChartData" class="table table-hover">
    <thead>
      <tr>
        <th>Product</th>
        <th *ngFor="let header of currentChartData.lineChartLabels">{{header}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let series of currentChartData.lineChartData">
        <td>{{series.label}}</td>
        <td *ngFor="let point of series.data">{{point}}</td>
      </tr>
    </tbody>
  </table>
</div>
  