<body> 
 <carousel>
    <slide>
      <img src="assets/img/landingPage1.png" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Bighorn Crags</h3>
        <p>I just thought these pictures looked cool in here!</p>
      </div>
    </slide>
    <slide>
      <img src="assets/img/landingPage2.png" alt="second slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Sawtooth</h3>
        <p>I just thought these pictures looked cool in here!</p>
      </div>
    </slide>
    <slide>
      <img src="assets/img/landingPage3.png" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Wilson Lake</h3>
        <p>I just thought these pictures looked cool in here!</p>
      </div>
    </slide>
  </carousel>
  <div class="container py-4 text-center">
    <h1>I needed one place to store some of my work...</h1>
    <p>
      I've been working on a lot of stuff in the last 5 years or so and I realized I don't have one place where I can keep most of my work.
      Most of my work can't be presented here because it was developed for a private company, but I also enjoy writing apps in my spare time..
    </p>
    <p>
      As I keep coming up with more ideas, I'll be adding more apps.
      I know many of these solutions have been created in the past, but I do enjoy the occasional challenge of developing something from scratch!
      I've been doing a lot of interesting work with OpenCV in python and I'm curious to explore its potential in JS, so I think I'll move in that direction in the future.
    </p>
  </div>
  <mat-divider></mat-divider>
  <div class="d-flex flex-column align-items-center my-3">
    Source code hosted in
    <a class="col-1" href="https://bitbucket.org/ravergarab/portfolio/src">
      <img src="assets/icon/Bitbucket-blue.svg">
    </a>
  </div>
</body>