<div class='basic-container'>
  <h2 class="my-3">Sudoku Solver</h2>
  <p class="lead">Enter the numbers of a Sudoku puzzle and press Solve to get a solution</p>
  <div class="row" *ngFor="let row of sudokuPuzzle; let rowIndex=index" [class.mb-3]="rowIndex==2 || rowIndex==5">
    <span class="col-sm-1"></span>
    <input class="col-1 form-control px-1"
      *ngFor="let col of row;let colIndex=index"
      [(ngModel)]="col.value"
      [class.border]="col.hasInitialValue"
      [class.border-primary]="col.hasInitialValue"
      [class.mr-3]="colIndex == 2 || colIndex == 5"
      (blur)="fieldBlur(rowIndex, colIndex)"
      matTooltip="{{col.possibleValues.join(',')}}"
      type="number">
    <span class="col-sm-2"></span>
  </div>
  <div class="d-sm-flex justify-content-center my-3">
    <button mat-stroked-button color="primary" (click)="clearPuzzle()" class="mx-2">Clear <mat-icon>clear</mat-icon></button>
    <button mat-stroked-button color="primary" (click)="savePuzzle()" class="mx-2">Save <mat-icon>save</mat-icon></button>
    <button mat-stroked-button color="primary" (click)="loadPuzzle()" class="mx-2">Load <mat-icon>cloud_download</mat-icon></button>
    <button mat-stroked-button color="primary" (click)="solveSudoku()" class="mx-2">Solve <mat-icon>done</mat-icon></button>
  </div>
  <div class="alert alert-primary mt-3" role="alert">
    Remaining Work: read the puzzle from an image and solve it...
  </div>
  <mat-divider></mat-divider>
  <div class="d-flex flex-column align-items-center">
    Source code hosted in
    <a class="col-1" href="https://bitbucket.org/ravergarab/portfolio/src/master/src/app/sudoku-solver/">
      <img src="assets/icon/Bitbucket-blue.svg">
    </a>
  </div>
</div>