<div >
  <mat-nav-list >
    <a mat-list-item *ngFor="let menuObject of MENU_OBJECTS" [routerLink]="menuObject.RouterLink" class="px-3">
      <mat-icon color="primary">{{menuObject.MatIcon}}</mat-icon>
      <span class="ml-3">{{menuObject.ItemName}}</span>      
    </a>
  </mat-nav-list>
  <mat-divider class="mx-1"></mat-divider>
  <mat-nav-list >
    <a mat-list-item href="https://www.paddlelabs.com/" class="px-3">
      <mat-icon svgIcon="paddle_labs">paddle_labs</mat-icon>
      <span class="ml-3">Paddle Labs</span>
    </a>  
    <a mat-list-item href="https://play.google.com/store/apps/details?id=com.acheron.theclown.theclown" class="px-3">
      <mat-icon color="primary">android</mat-icon>
      <span class="ml-3">Clown App</span>
    </a>
  </mat-nav-list>
</div>