<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">My Portfolio</h1> 
      <span class="example-spacer"></span>
      <a href="https://bitbucket.org/ravergarab/portfolio/src/master/" mat-icon-button>
        
        <mat-icon class="example-icon">cloud_download</mat-icon>
      </a>
      <a [routerLink]="'/'"  mat-icon-button>
        <mat-icon class="example-icon">home</mat-icon>
      </a>
    </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"><!-- opened="true">-->
      <app-side-nav-component></app-side-nav-component>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-side-nav-content></app-side-nav-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
