<div class="basic-container">
  <h2>Data Analytic</h2>
  <p class="lead">
    Here you can enter a dataset (csv file) containing individual sales transaction as rows. You can then select the respective columns containing product, date, customer and amount to get a visual representation and summary of the data.
  </p>
  <div class="alert alert-warning mt-3" role="alert">
    Work in progress: sales/quantity and product prediction. Data grouping by day/hour, etc.
  </div>
  <mat-slide-toggle [(ngModel)]="showReadFile">Show Load File</mat-slide-toggle>
  <app-read-file (salesDataSetComplete)="setSalesDataset($event)" *ngIf="showReadFile"></app-read-file>
  <div class="alert alert-primary mt-3" role="alert" *ngIf="salesDataSet">
    Select Customer ID, Dollar Amount, Product and Date columns to process the data
  </div>  
  <app-chart *ngIf="salesDataSet" [salesDataSet]="salesDataSet" (currentChartData)="setCurrentChartData($event)"></app-chart>
  <mat-slide-toggle [(ngModel)]="showTable" *ngIf="salesDataSet">Show Table</mat-slide-toggle>
  <!-- Just a one way binding to the table (with chart data) since we won't be editing data on the table yet -->
  <app-table *ngIf="salesDataSet && showTable" [currentChartData]="currentChartData"></app-table>
  <mat-divider></mat-divider>
  <div class="d-flex flex-column align-items-center">
    Source code hosted in
    <a class="col-1" href="https://bitbucket.org/ravergarab/portfolio/src/master/src/app/chart/char.data.format.ts">
      <img src="assets/icon/Bitbucket-blue.svg">
    </a>
  </div>
</div>